<div class="spacing"></div>
<div class="row">

    <div class="col-md-12">
        <% @blogs.each do |f| %>

        <div class="card-body ">
            <% if f.user == current_user %>

            <div class="box  p-3">
                <%= link_to blog_path(f) do %>
                <h4> <%= f.title %></h4>
                <% end %>
                <p class="card-text"> <%= image_tag(f.profile_pic,class:"p_image") if f.profile_pic.attached?%>
                    <%= f.written_by %>
                    (<%= f.job_title %>)<%= f.created_at.strftime("%B %d %Y") %>  <span class="text-success ml-5">Comments :   <%= f.comments.count %></span></p>
                 
                <%= f.content.to_plain_text.truncate_words(15) %> <%= link_to 'read more ', blog_path(f), class:""%>


                <p class="card-text">

                    <%# <% if user_signed_in?  %>

            
                    <%= link_to  edit_blog_path(f) do %><i class="fas fa-pencil-alt text-primary pr-3"></i><% end %>
                    <%= link_to  blog_path(f),method: :delete, data:{confirm:"Are you sure you want to delete '#{f.title}?'"} do %>
                    <i class="fas fa-trash-alt text-danger"></i><% end %>
                </p>
            </div>
        </div>
        <% else %>


        <div class="box  p-3">
            <%= link_to blog_path(f) do %>
            <h4> <%= f.title %></h4>
            <% end %>
            <p class="card-text"> <%= image_tag(f.profile_pic,class:"p_image") if f.profile_pic.attached?%>
                <%= f.written_by %>
                (<%= f.job_title %>)<%= f.created_at.strftime("%B %d %Y") %></p>
            <%= f.content.to_plain_text.truncate_words(15) %>
            <%= link_to 'read more ', blog_path(f), class:""%>
            <% end %>
        </div>
    </div>


    <% end %>
    <%# <%= f.description %>


    <div class="digg_pagination py-3">
        <%= will_paginate @blogs %>
    </div>
</div>
</div>
</div>