<div class="container">
<h2 class="text-success"><%= @blog.title %></h2>
            


        <%= image_tag(@blog.profile_pic, class:"img_box") if @blog.profile_pic.attached?%>
  
            <h4><%= @blog.written_by %>(<%= @blog.job_title %>)</h4>
          
        
     <p class="text-justify">   <%= @blog.description %></p>


    </div>

</div>
</div>