<h1><%= @user.email %></h1>
<%= @user.full_name %>

<%= @user.username %>  

<% @user_blogs.each do |blog| %>
<table class="table">
<tr>
<td><%= blog.title %></td>
<td><%= link_to blog.title, blog_path(blog) %>
</td>
</tr>
</table>
<% end %>